# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. The path pattern match, or the filetype match
# will automatically set the reviewers. Order is important; 
# the last matching pattern takes the most precedence. 

